<div class="class container">
  <h1 class="text-center my-5">movie name</h1>
    <div class="class row">
        <div class="col-6">
        <div class="card mb-3">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <h5><%= movie.title %></h5>
        </div>
      </div>
      <% end %>
    </div>
</div>
