<div class="container">
  <h1 class="text-center my-5"></h1>
    <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="col-6 col-lg-4">
        <div class="card mb-3">
          <h1><%= movie.title %></h1>
          <p><%= movie.overview %></p>
        </div>
      </div>
    <% end %>
    </div>
</div>
